#about {
    background-color: #1d1d1d;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: -1vh;
}

#aboutCTA {
    max-width: 1000px;
    display: inline-block;
    text-align: left;
    padding-left: 75px;
}

#aboutCTA>div:last-child {
    width: 50%;
    float: left;
}

#aboutCTA>div:last-child>h3 {
    font-size: 22px;
    color: #fff;
    line-height: 40px;
}

#aboutCTA>div:first-child {
    width: 50%;
    float: right;
    text-align: center;
}

#aboutCTA>div:last-child>h3>a {
    padding-bottom: .1em;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    font-size: 22px;
}

#aboutCTA>div:last-child>h3>a:hover {
    padding-bottom: 0em;
    color: #fc3;
    border-bottom-color: #fc3;
}

#aboutCTA>div:last-child>p {
    color: #fff;
    font-size: 15px;
    line-height: 22px;
}

.highlightColor {
    color: #fc3;
}

#aboutCTA>div:first-child>div>img:first-child {
    width: 250px;
    margin-top: 75px;
}

#aboutCTA>div:first-child>div>img:last-child {
    width: 350px;
    z-index: -999;
    margin-top: -303px;
}

/* Responsiveness - I don't like the current way this is being done, but it will work for the time being. #TODO replace.*/

@media screen and (max-width: 980px) {
    #aboutCTA>div:last-child {
        width: 100%;
    }
    #aboutCTA>div:first-child {
        width: 100%;
    }
    #aboutCTA {
        padding-left: 5%;
        padding-right: 5%;
    }
    #aboutCTA>div:first-child>div {
        float: left;
    }
    #aboutCTA>div:first-child>div>img:first-child {
        width: 150px;
        margin-left: 20px;
        margin-bottom: 5px;
    }
    #aboutCTA>div:first-child>div>img:last-child {
        width: 200px;
        z-index: -999;
    }
}

@media screen and (max-width: 980px) and (min-width: 401px) {
    #aboutCTA>div:first-child>div>img:first-child {
        width: 150px;
        margin-bottom: 24px;
    }
    #aboutCTA>div:first-child>div>img:last-child {
        width: 200px;
        z-index: -999;
        margin-left: -180px;
    }
}

@media screen and (max-width: 400px) {
    #aboutCTA>div:first-child>div>img:first-child {
        float: left;
        margin-left: 25px;
    }
    #aboutCTA>div:first-child>div>img:last-child {
        float: left;
        margin-top: -180px;
    }
}