@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
#header {
    display: inline-block;
    background-color: #171717;
}
#header > div:first-child {
    width: 100vw;
    height: 100vh;
    text-align: left;
    margin-bottom: -16.5vh;
}
.title {
    margin-top: -16.5vw;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    z-index: 1000;
}
#header > div > h1 {
    z-index: 5;
    font-weight: 900;
    font-size: 12.5vw;
    color: hsla(0,0%,95%,.05);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    transform: translateX(10%);
}
.title > h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2em;
    color: #fff;
}
.title > h5 {
    margin-top: -1em;
    margin-bottom: 1.2em;
    color: #fc3;
    font-size: 0.9rem;
    font-weight: 300;
}
.title > p {
    max-width: 450px;
    font-size: 1.3rem;
    line-height: 1.7em;
    font-weight: 300;
    color: #fff;
    margin-top: 2em;
}
.title > p > a {
    text-decoration: none;
    color: #fc3;
    border-bottom: 1px solid #fc3;
    padding-bottom: .2em;
    transition: padding-bottom .16s ease-in-out, color .16s, border-bottom-color .16s;
}

.title > p > a:hover {
    color: #fc3;
    border-bottom-color: #fc3;
    padding-bottom: 0em;
}

.title > div {
    margin-top: 2em;
}
.title > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title > div > ul > li {
    float: left;
}

.title > div > ul > li > a {
    display: block;
    color: #fff;
    padding-right: 40px;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9em;
    transition: color .16s;
    padding-top: 15px;
}

.title > div > ul > li > a:hover {
    color: #fc3;
}